@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: cornflowerblue;
  color: #FFFFFF;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.form-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.form-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3px;
}

.form-item-label {
  font-size: 12px;
}

.form-item-input {
  width: 100%;
  height: 100%;
  min-height: 44px;
  max-height: 44px;
  border-radius: 10px;
  padding: 0px 15px;
  font-size: 12px;
  border: 1px solid #000000;
}

.form-item-checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.form-item-checkbox {
  cursor: pointer;
}

.form-item-submit-button {
  width: 100%;
  height: 100%;
  min-height: 44px;
  max-height: 44px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: cornflowerblue;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.search-container {
  width: 100%;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search-container-title {
  font-size: 22px;
  font-weight: 600;
  color: cornflowerblue;
}

.form-search-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form-search-label {
  font-size: 12px;
  color: #000000;
}

.form-search-input {
  width: 100%;
  height: 100%;
  min-height: 44px;
  max-height: 44px;
  border-radius: 10px;
  border: 1px solid black;
  padding: 0px 15px;
  font-size: 12px;
}

.form-search-submit-button {
  width: 100%;
  max-width: 200px;
  height: 100%;
  min-height: 44px;
  max-height: 44px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: cornflowerblue;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.bookshelf-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.bookshelf-container-title {
  font-size: 22px;
  font-weight: 600;
  color: cornflowerblue;
}

.bookshelf-container-list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.bookshelf-item {
  width: 100%;
  height: auto;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.bookshelf-item-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}

.bookshelf-item-title {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.bookshelf-item-description {
  font-size: 12px;
  color: #000000;
}

.bookshelf-item-action {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.bookshelf-item-action-success {
  width: auto;
  height: 100%;
  min-height: 44px;
  max-height: 44px;
  padding: 0px 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background: #22BB33;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
}

.bookshelf-item-action-danger {
  width: auto;
  height: 100%;
  min-height: 44px;
  max-height: 44px;
  padding: 0px 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background: #BB2124;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
}

footer {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: cornflowerblue;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 600;
}